.about-button{
  float: right;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.about-button:hover{
  background-color: #000044;
}