.menu-item{
  padding: 5px 5px 5px 10px;
  margin: 3px 3px 3px 10px;
  color: #ccc;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1px;
  cursor: pointer;
}

.menu-item:hover{
  background-color: #000044;
}

.menu-item-label{
  margin-top: 15px;
  margin-left: 3px;
  padding-left: 5px;
  border: 0;
  cursor: default;
}

.menu-item-label:hover{
  background-color: #252560;
}