.menu-button{
  float: left;
  color: #ccc;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.menu-button:hover{
  background-color: #000044;
}