.test-question{
  padding: 5px;
  margin-top: 10px;
  border: 1px solid rgba(22, 22, 55, 0.2);
  border-radius: 3px;
}

.test-question-text{
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(22,22,55,0.2);
  font-size: 18px;
}